/*==================================================================== 
                    daefault css
===========================================*/

*{
    padding: 0;
    margin: 0;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
img{
    max-width: 100%;
}

/*==================================================================== 
           header css
===========================================*/


.header{
    background: #3498db;
}
.fixed-width{
    width: 1270px;
    margin: auto;
}
.header-left{
    width: 30%;
    float: left;
}
.header-left img{
    width: 210px;
    height: auto;
}
.header-right{
    width: 70%;
    float: right;
}


/*==================================================================== 
           header menu css
===========================================*/


.header-right ul{
    text-align: right;
}

.header-right ul li{
    display: inline-block;
    margin-left: -4px;
}
.header-right ul li a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 0 30px;
    line-height: 73px;
    border-right: 1px solid #fff;
    transition: .4s;
}
.header-right ul li a:hover{
    background: #2980b9;
}

/*==================================================================== 
           banner css
===========================================*/

.banner{
    background: url(./image/bannerimagereal.jpg) no-repeat center fixed;
    background-size: cover;
    padding: 200px 0;
}
.banner-caption h2{
    background: rgba(0, 0, 0, .4);
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    font-size: 33px;
    border-radius: 5px;
}
.banner-caption h1{
    background: rgba(52, 152, 219, .6);
    color: #fff;
    max-width: 500px;
    margin: auto;
    font-size: 40px;
    padding: 10px 0;
    border-radius: 5px;
    margin-top: 30px;
}

/*==================================================================== 
           ABOUT css
===========================================*/
.about{
    margin-top: 60px;
}
.about h2{
    font-size: 38px;
    margin-bottom: 18px;
}
.about p{
    max-width: 700px;
    margin: auto;
    font-size: 20px;
}

/*==================================================================== 
           service css
===========================================*/

.service{
    margin-top: 60px;
}
.service-item{
    float: left;
    width: 31.3%;
    border: 1px solid #ddd;
    padding: 25px 10px;
    box-sizing: border-box;
    margin-left: 1%;
    margin-right: 1%;
    background: #ddd;
    border-radius: 10px;
}
.service-item span{
    display: block;
    height: 60px;
    width: 60px;
    background: #3498db;
    color: #fff;
    margin: auto;
    font-size: 35px;
    line-height: 60px;
    border-radius: 20px 0 20px 0;
}
.service-item h3{
    margin: 20px 0;
}

/*==================================================================== 
           BLOG CONTAINER
===========================================*/

.blog-container{
    margin: 60px 0;
}
.blog-item{
    margin-bottom: 30px;
}
.blog-item img{
    float: left;
    width: 160px;
    height: auto;
    margin-right: 15px;
}
.blog-left-content{
    float: left;
    width: 70%;
}
.blog-left-notification{
    float: right;
    width: 25%;
}
.blog-left-notification h2{
    font-size: 32px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 14px;
    padding-bottom: 7px;
}
.blog-left-notification ul{
    list-style: none;
}
.blog-left-notification ul li{
    border: 1px solid #ddd;
    background: #fafafa;
    padding: 10px;
    margin-bottom: 9px;
    border-radius: 5px;
}

/*==================================================================== 
           FOOTER
===========================================*/

.footer{
    background: #2c3e50;
    color: #fff;
    padding: 15px 0;
}
.footer-left{
    float: left;
    width: 40%;
}
.footer-right{
    float: right;
    width: 60%;
}

/*==================================================================== 
           SOCIAL MENU CSS
===========================================*/
.social-menu{}
.social-menu li{
    display: inline-block;
}
.social-menu li a{
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
    transition: .4s;
}
.social-menu li a:hover{
    color: #3498db;
}